/* Base Application Styles */
body html{
  width: 100%;
  height: 100%;
  color: #fff;
  background: #222;
}
.content{
  width: 100%;
  height: 100%;
}
/* stage start */
.stage{
  position: relative;

  width: 100%;
  height: 680px;
}


/*stage end */
/*image*/
.img-sec{
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: #ddd;
}


/*controller*/
.controller-nav{
  position: relative;
  left: 0;
  bottom: 30px;
  z-index: 100;
  width: 100%;
  text-align: center;
}
